<footer class="footer border-top py-2 mt-5 small" style="background:#212529; border-top-color:#b0d8f0 !important;">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %}">
        <div class="row my-3">
            <div class="col-6">
                <div style="color:#2e6a94; font-style:italic;">
                    Last updated: {{ "now" | date: "%b %Y" }}
                </div>
            </div>
            <div class="col-6">
                <div class="text-right" style="color:#2e6a94;">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>
    </div>
</footer>
